html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
  background-color: white;
}
#niaid-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: white url("../img/background.jpg") no-repeat center;
  background-size: cover;
}
#niaid-header {
  text-align: center;
  color: white;
  background-color: #20558a;
  padding: 0.5em;
  font-size: 1.2em;
}
#niaid-content {
  flex: 1;
  max-width: 584px;
  margin: auto;
  padding: 3em;
}
#niaid-content h1 {
  margin: 0 0 1rem;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.1em;
}
#niaid-content p.info {
  margin-top: 3rem;
}
#niaid-form-wrapper .form-group {
  margin-bottom: 0;
}
#niaid-form-wrapper .control-label {
  clear: both;
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}
#code, 
#tancode {
  font-size: 2em;
  letter-spacing: 0.15em;
  width: 6em;
  height: 40px;
  float: left;
  margin-right: 0.5rem;
  text-align: center;
  color: green;
}
#tancode {
  width: 14em;
}
#submit.btn-default {
  background-color: #20558a;
  color: white;
  border-color: #20558a;
  height: 40px;
}
#submit.btn-default:hover {
  background-color: #414141;
}
#niaid-form-wrapper p.error {
  padding: 1em;
  background-color: #fdd;
  border-radius: 4px;
  border: 1px solid #fcc;
  font-size: 1.2em;
}
#niaid-footer {
  padding: 2em 3em;
  border-bottom: 1px solid #20558a;
  background-color: #414141;
  color: #ccc;
  font-size: 0.9em;
}
#niaid-footer img {
  width: 212px;
}
#niaid-footer p {
  max-width: 584px;
  margin: auto;
}
/* BOOTSTRAPISMS */
/* These are not exactly Bootstrap styles, but they borrow class names and are similar */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: green;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.btn {
  display: inline-block;
  height: 40px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}