<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NIAID TAN (backup code) Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div id="tan-wrapper">
      <header id="tan-header">
        NIAID Discovery and Collaboration Platform
      </header>
      <main id="tan-content">
        <h1>Enter one of your backup codes</h1>
            
        <div id="tan-form-wrapper">
          <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="form-group  required">
              <label class="control-label" for="tancode">One-time security backup code</label>
              <input class="form-control" id="tancode" maxlength="30" minlength="6" name="tancode" required type="text" value="">
            </div>
            <input class="btn btn-default" id="tansubmit" name="tansubmit" type="submit" value="Submit">
            {# There's only one form element, so just output all errors here. #}
            {%- if form.errors %}
              {%- for fieldname, errors in form.errors.items() %}
                {%- for error in errors %}
                  <p class="error">{{error}}</p>
                {%- endfor %}
              {%- endfor %}
            {%- endif %}
          </form>
        </div>
            
        <p class="info">
          Enter a backup code for  <strong>{{ name_id }}</strong> at
          <strong>scienceforum.sc</strong>. Codes may only be used once,
          so you may want to delete or cross out the code after use.
        </p>
      </main>
    
      <footer id="totp-footer">
        <p>
          You are accessing a U.S. Government web site which may contain information that must be protected
          under the U.S. Privacy Act or other sensitive information and is intended for Government authorized
          use only. Unauthorized attempts to upload information, change information, or use of this web site may
          result in disciplinary action, civil, and/or criminal penalties. Unauthorized users of this web site
          should have no expectation of privacy regarding any communications or data processed by this web site.
          Anyone accessing this web site expressly consents to monitoring of their actions and all communication
          or data transitioning or stored on or related to this web site and is advised that if such monitoring
          reveals possible evidence of criminal activity, NIH may provide that evidence to law enforcement officials.
        </p>
      </footer>
    
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById("code").focus();
      });
    </script>
  </body>
</html>
